#container1{
    width: 500px;
    height: 250px;
    background-color: purple;
    color: white;
    margin-top: 60px;
    margin-left: 300px;
    padding-left: 30px;
    padding-top: 20px;
}

#container2{
    width: 500px;
    height: 250px;
    background-color: rgb(128, 0, 53);
    color: white;
    margin-top: 60px;
    margin-left: 300px;
    padding-left: 30px;
    padding-top: 20px;
}